body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 400px;
  padding: 10px;
}

.card {
  width: 90px;
  height: 90px;
  position: relative;
  /* perspective: 1000px; */
  cursor: pointer;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-front {
  background-color: #b6b6b6;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-back .emoji {
  font-size: 40px;
}

.card.flipped .card-front {
  transform: rotateY(180deg);
}

.card.flipped .card-back {
  transform: rotateY(0);
}

.moves {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.reset {
  padding: 10px 40px;
}

.transparent-bg {
  background-color: transparent;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-5px, 0);
  }
  40% {
    transform: translate(5px, 0);
  }
  60% {
    transform: translate(-5px, 0);
  }
  80% {
    transform: translate(5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
